:root {
  --main-radius: 5px;
  --main-padding: 5px;
}

/*  */
.listContainer {
 
letter-spacing: 0px;
color: #D5FFE2;
opacity: 1;
  display: flex;
  justify-content: space-between;
}
.listContainer1 {

    display: flex;
  
  }
  .ticket1{
   
    list-style-type: none;
  }
.ticket2{
  
  font-size: 14px;
 
  color: black;
  font-weight: normal;
  list-style-type: none;
}
.row14{
  list-style-type: none;
  color:#101111 ;
  font-size: 12px;
  margin-top: 10px;
  font-weight: bold;
}
.row15{
  font-size: 12px;
  list-style-type: none;
  color:orange;
  margin-top: 10px;
}
.list1 {
  line-height: 2.0;
  font-size: 12px;
  
  list-style-type: none;
}
.list2{
  line-height: 2.0;
  font-size: 12px;
  padding-right: 100px;
  text-align: left;
  list-style-type: none;

}
.dlButton1{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  margin-top: 8px;
 padding: 5px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; 
  color: black;
  font-size:12px;
  border-radius: 5px;
}
/*  */
.containerTagged {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 0.6fr 0.9fr 1.2fr ;
  grid-template-rows: 0.06fr 0.06fr 0.06fr 2.2fr;
  grid-template-areas:
    "viewprofile viewprofile viewprofile "
    "sidebar12 ticket ticket "
    "sidebar12 empdetails profiletracking "
    "sidebar12 empdetails interview ";
  grid-gap: 0.3rem;
 
 
}


#viewprofile {
 padding-left: 10px;
  color: #f0fcfa;
  font-weight: 400;
  font-size: 14px;
  background: #101111;
  grid-area: viewprofile;
  /* border-radius: var(--main-radius); */
  padding-top: var(--main-padding);
}
.icon5{
  width: 22px!important;
height: 22px!important;
}
 #ticket {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #71A9E9;
  border: 0.5px solid #E8E5E8;
  border-radius: 5px;

  opacity: 1;
  font: normal normal 600 16px/20px Poppins;
  color:#1492E6;
  grid-area: ticket;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  padding-left: 10px;
} 

#sidebar12 {
  line-height: 2.0;
  grid-area: sidebar12;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  margin-left: 10px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #CFCFD654;
border: 0.5px solid #E8E5E8;
border-radius: 6px;
opacity: 1;

}

#empdetails {
  background: #6fffd2;
  grid-area: empdetails;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  background: transparent linear-gradient(144deg, #D225D2 0%, #1492E6 100%) 0% 0% no-repeat padding-box;
border-radius: 5px;
opacity: 1;
font-size: 12px;
line-height: 2.5;
font-weight: normal;
color: white;
}

#interview {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #E8E5E8;
  border: 0.5px solid #E8E5E8;
  border-radius: 5px;
  opacity: 1;
  background: white;
  grid-area: interview;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  
}

#profiletracking {
  /* background: hsl(0, 0%, 100%); */
  grid-area: profiletracking;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
 
  
}

/* 
a {
  text-align: center;
  display: block;
  font-family: inherit;
  text-decoration: none;
  font-weight: bold;
  margin: 1rem;
} */

@media only screen and (max-width: 550px) {
  .containerTagged {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.4fr 1fr 1.2fr 1.2fr 1.2fr 1fr;
    grid-template-areas:
      "viewprofile"
      "sidebar12"
      "ticket"
      "empdetails"
      "interview"
      "profiletracking";
  }
}
.cardemployee1{
  /* display:flex; */
  /* width: 340px;
height: 250px; */
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #E8E5E8;
border-radius: 10px;
opacity: 1;
margin: 10px;

}
.row11{
 margin-top:8px;
 font: normal normal medium 14px/21px Poppins;
 color: #1492E6;
 font-size: 12px;
 list-style-type: none;
}


.row21{

  font-size: 12px;
color:black;
  list-style-type: none;
}
.row31{

 
  font-size: 12px;

  list-style-type: none;
}
.row41{

  justify-content: space-between;
  font-size: 12px;

  list-style-type: none;
}
.row6{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: -120px;
 

 
}
.line{
  width: 90%;
  margin-left: 10px;
  margin-top: -15px;
  margin-bottom: 2px;
}
.profilebutton{
  color: #1492E6;
 font-size: 12px;
  display: flex;
  flex-direction: row;
 margin-bottom: 5px;
 margin-left: 110px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #1492E6;
  opacity: 1;
  justify-content: flex-end;
}

.cardemployee1:hover{
  background: transparent linear-gradient(122deg, #D225D2 0%, #1492E6 100%) 0% 0% no-repeat padding-box;
box-shadow: 0px 2px 6px #00000029;
opacity: 1;
}
.scrollbar12{
  
  height: 455px;
overflow-y: scroll;
overflow-x: hidden;
}
.ticketdetails{
  display: flex;
  flex-direction: row;
  justify-content:flex-start ;
}
.ticketno{
  color: #101111;
font: normal normal medium 16px/25px Poppins;
}

.t1{
  color: #1492E6!important;
  padding-bottom: 21px!important;
  border: 0.5px solid #E8E5E8!important;
}
.t2{
  background-color: #F97676!important;
  color: white!important;
  padding-bottom: 21px!important;
  border: 0.5px solid #F97676!important;
}
.t3{
  background-color: #F6DD00!important;
  color:white!important;
  padding-bottom: 21px!important;
  border: 0.5px solid #F6DD00!important;
}
.t4{
  background-color: #AEE8AE!important;
  color:white!important;
  padding-bottom: 21px!important;
  border: 0.5px solid #AEE8AE!important; 
}
.trac {
  height: 48px;
  /* margin-left: 11%; */
margin-top: 5px;
  border-collapse: collapse;
  font-size: 14px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #E8E5E8;
  border: 0.5px solid #E8E5E8;
  border-radius: 5px;
}
.idetails{
  display: flex;
  flex-direction: column;
  justify-content: center;  /* Centering y-axis */
  align-items :center; 
}
.interviewimg{
margin-top: 90px;
}

.approve{
 
  color:white;
  font-size: 12px;
  margin-top: -15px;
  
  /* UI Properties */
  background: #38BF62 0% 0% no-repeat padding-box;
  opacity: 1;
}
.reject{
font-size: 12px;

color:white;
/* margin-top: 10px; */
background: #DE4A4A 0% 0% no-repeat padding-box;
opacity: 1;

}
 @media only screen and (max-width: 550px) {
  .containerTagged {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
    grid-template-areas:
      "viewprofile"
      "sidebar12"
      "ticket"
      "empdetails"
      "interview"
      "profiletracking";
  }
}
/* For tablet devices */
@media only screen and (min-width: 551px) and (max-width: 1024px) {
  .containerTagged {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.4fr 0.4fr 0.4fr 0.9fr 2fr;
    grid-template-areas:
      "viewprofile viewprofile"
      "ticket ticket"
      "profiletracking  profiletracking"
      "sidebar12 sidebar12"
      " empdetails  interview ";
      position: fixed;
  }
  
}

/* For laptop devices */
@media only screen and (min-width: 1025px) {
  .containerTagged {
    grid-template-columns: 0.6fr 0.8fr 1fr;
    grid-template-rows: 0.06fr 0.06fr 0.1fr 0.725fr;
    grid-template-areas:
      "viewprofile viewprofile viewprofile"
      "sidebar12 ticket ticket profiletracking"
      "sidebar12 empdetails profiletracking"
      "sidebar12 interview interview";
      position: fixed;
  }
  
} 


/* * {
  
  box-sizing: border-box;
} */
.updateinterview{
  margin-top: -5px;
  /* margin-right: 10px; */
  margin-left: 185px;
  font-size: 10px;
}
.formupdate{
  display: flex;
  /* flex-wrap: wrap; */
}
.updateInput1{
  font-size: 12px;
  height: 28px;
}
.updateint{
  
  font-size: 12px!important;
  font-family: 'Poppins', sans-serif;
}
.saveInterview{
margin-top: 27px;
margin-right: 20px;
}
.updatedStatus{
  display: flex;
  color: #717177;
  justify-content: center;
  text-align: center;
 
}
.gifupdate{
  width: 300px;
  height: 200px;
  display: flex;
  margin-left: 150px;
  margin-top: 50px;
  justify-content: center;
  text-align: center;
}