/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #E3F2FD;
}

.select-menu {
    width: 226px;
    margin: 40px 10px 10px 10px;
    position: relative;
}

.select-menu .select-btn {
    display: flex;
    height: 28px;
    background: #fff;
    padding: 20px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.select-btn i {
    font-size: 25px;
    transition: 0.3s;
}

.select-menu.active .select-btn i {
    transform: rotate(-180deg);
}

.select-menu .options {
    position: absolute;
    width: 227px;
    background-color: #fff;
    padding: 0px;
    margin-top: 10px;
    height: 133px;
    border-radius: 8px;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 1;
}

.select-menu.active .options {
    display: block;
}

.options .option {
    display: flex;
    height: 30px;
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
    align-items: center;
    background: #fff;
}

.options .option:hover {
    background: #F2F2F2;
}

.option i {
    font-size: 25px;
    margin-right: 12px;
}

.option .option-text {
    font-size: 14px;
    color: #333;
    margin: 10px;
}